<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lenguajes</title>
</head>
<body>

<h1>Lenguajes</h1>

<form th:action="@{/admin/lenguajes}" method="post">
    <input type="hidden" name="id" th:value="${lenguaje?.id}">

    <input type="text" name="nombre"
           placeholder="Nombre"
           th:value="${lenguaje?.nombre}" required>

    <input type="text" name="icono_url"
           placeholder="URL icono"
           th:value="${lenguaje?.icono_url}">

    <button type="submit">Guardar</button>
</form>

<hr>

<ul>
    <li th:each="len : ${lenguajes}">
        <span th:text="${len.nombre}"></span>
        <a th:href="@{/admin/lenguajes/delete/{id}(id=${len.id})}">Eliminar</a>
    </li>
</ul>

<a href="/admin">Volver</a>

</body>
</html>
